.pai-exercicio1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
}
.filho-exercicio1{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;

}
#h1{
   display: flex;
   justify-content: center;
}
.pai-exercicio2{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio2{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio3{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio3{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio4{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
}
.filho-exercicio4{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio5{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filho-exercicio5{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio6{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.filho-exercicio6{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio7{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio7{

    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio8{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio8{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio9{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio9{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio10{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio10{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio11{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio11{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}
.pai-exercicio12{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho-exercicio12{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
}